* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}

.navigation {
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    background-size: cover;
    height: 30px;
    width: 90px;
    background-color: black;
}

.panel {
    height: 40px;
    background-color: #0f1111;
    opacity: 0.89;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-options p {
    display: inline;
    margin-left: 15px;
}

.panel-options {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
}

.founder-img{
    /* height: 11em; */
    /* width: auto; */
}


/* Footer */

footer{
    margin-top: 15px;
    margin-bottom: 0.2px;
    
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.foot-panel2{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

a{
    font-size: 0.85rem;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

.foot-panel3{
    background-color: #37475a;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
